

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

.navbar {
  padding: 15px 10px;
  background: #fff;
  border: none;
  border-radius: 0;
  margin-bottom: 40px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
  box-shadow: none;
  outline: none !important;
  border: none;
}

.line {
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #ddd;
  margin: 40px 0;
}
a[data-toggle="collapse"] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}

#sidebar {
  min-width: 250px;
  max-width: 250px;
  background: #fff;
  color: #fff;
  transition: all 0.3s;
  &.active {
    margin-left: -250px;
  }
  .sidebar-header {
    padding: 20px;
    background: #6e6aee;
    h3{
      text-transform: uppercase;
    }
  }
  ul{
    &.components {
      padding: 20px 0;
    }
    p {
      display: flex;
      justify-content: center;
      margin: 2rem;
      white-space: pre;
      color: #444444;
    }
    li{
      &.active>a,
      a[aria-expanded="true"] {
        color: #fff;
        background: #6d7fcc;
      }
      a {
        padding: 10px;
        font-size: 1.1em;
        color: #444444;
        display: block;
        text-transform: capitalize;
      }
      &:hover {
          color: #7386D5;
          background: #fff;
        }
      }
    }
  .after {
    background-color: #6e6aee;
    width: 100%;
    height: 37px;
    position: relative;
    top: -19px;
    left: -4px;
    -moz-transform: rotate(-8deg);
    -webkit-transform: rotate(-8deg);
    -o-transform: rotate(-8deg);
    -ms-transform: rotate(-8deg);
    transform: rotate(-8deg);
    z-index: 1;
  }
  .user-icon{
    position: relative;
    top: 40px;
    margin: 0 auto;
    background: url('./img/mary.jpeg') no-repeat;
    border-radius: 1.25rem!important;
    background-size: cover;
    background-position: center;
    height: 40px;
    width: 40px;
  }
}

/* ---------------------------------------------------
    LAYOUT STYLE
----------------------------------------------------- */
.my-row {
  display: flex;
  flex-wrap: wrap;
}

.my-col {
  flex: 1 0 18%; /* The important bit. This percentage decides your columns.
 The percent can be px. It just represents your minimum starting width.
  */
  margin: 5px;
  height: 400px;
  align-items: center;
  justify-content: center;
}

/* ---------------------------------------------------
    ANIMATION PAGE
----------------------------------------------------- */

.animation{
  .grow{
    background-color: #ff0000;
  }
  .grow:hover {
      box-shadow: 0px 0px 150px #000000;
      z-index: 2;
      -webkit-transition: all 200ms ease-in;
      -webkit-transform: scale(1.5);
      -ms-transition: all 200ms ease-in;
      -ms-transform: scale(1.5);
      -moz-transition: all 200ms ease-in;
      -moz-transform: scale(1.5);
      transition: all 200ms ease-in;
      transform: scale(1.5) !important;
  }
  button.shrink {
    background-color: #ff0000;
    &:hover {
      box-shadow: 0px 0px 150px #000000;
      z-index: 2;
      -webkit-transition: all 200ms ease-in;
      -webkit-transform: scale(1.5);
      -ms-transition: all 200ms ease-in;
      -ms-transform: scale(1.5);
      -moz-transition: all 200ms ease-in;
      -moz-transform: scale(1.5);
      transition: all 200ms ease-in;
      transform: scale(0.5);
    }
  }
  button.color-change {
    background: #2db34a;
    border-radius: 6px;
    transition-property: background, border-radius;
    transition-duration: 6s, 2s;
    transition-timing-function: ease-in-out;
    height:95px;
    width: 95px;
    line-height: 95px;
    text-align: center;
    cursor: pointer;
    &:hover {
      background: #ff0000;
      border-radius: 50%;
    }
  }
}

@keyframes rot {
  from {
    transform: rotate(0deg)
    translate(-50px)
    rotate(0deg);
  }
  to {
    transform: rotate(360deg)
    translate(-50px)
    rotate(-360deg);
  }
}

.smile {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 200px;
  left: 50%;
  margin: -20px;
  font-size: 100px;
  animation: rot 3s infinite linear;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
  width: 100%;
  padding: 20px;
  min-height: 100vh;
  transition: all 0.3s;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
  #sidebar {
    margin-left: -250px;
  }
  #sidebar.active {
    margin-left: 0;
  }
  #sidebarCollapse span {
    display: none;
  }
}
